
<div class="content" role="main">
  <div id="map">
  </div>
  <div class="container">
    <form>
      <h4>Type of Area</h4>
      <select id="AreaType">
        <option></option>
        <option value="LocalAuthority">Local Authority</option>
        <option value="Ward">Ward</option>
      </select>

      <h4>Age Range</h4>
      <div class="form-group">
        <select class= "form-control" id="AgeRange">
          <option></option>
          <option value="1824" [selected]="ageGroup == 1">18 - 24</option>
          <option value="2529" [selected]="ageGroup == 0">25 - 29</option>
        </select>
      </div>  

      <h4>Male/Female</h4>
      <select id="MF">
        <option></option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <br />

      <input id="submit" type="button" class="pull-right" value="Submit" />
    </form>
  </div>

</div>